@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
/* stylelint-disable at-rule-no-unknown */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-enable at-rule-no-unknown */

a.active hr {
  display: block;
}
* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
} /*scroll bar endaynor maregiya new collection product click argen yeteleyaye angle snmert*/

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
